/* Loader.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: slightly opaque background */
  }
  